@import "../../../scss/_variables.scss";

$hover-effect: 10%;

.common-button {
  display: block;
  width: $button-width;
  height: 100%;
  border: 0;
  background-color: $color-default;
  outline: none;
  padding: 0;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  text-align: center;

  p {
    position: relative;
    top: calc((#{$item-height} - #{$todo-button-size}) / 2);
    margin: 0;
    font: {
      size: $todo-button-size;
    }
  }

  &.primary {
    background-color: $color-primary;
  }
  &.primary:hover {
    background-color: darken($color-primary, $hover-effect);
  }

  &.caution {
    background-color: $color-caution;
  }
  &.caution:hover {
    background-color: darken($color-caution, $hover-effect);
  }
}
