@import "../../../scss/_variables.scss";

.common-to-do-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $item-height;
  padding: {
    top: 2.5px;
    bottom: 2.5px;
  }

  & .common-to-do-item-checkbox {
    width: $item-checkbox-div-width;
    height: $item-height;

    // checkbox styles
    input {
      &[id="to-do-checkbox"] {
        display: none;
      }

      // &[id="to-do-checkbox"] + label {
      //   display: inline-block;
      //   position: relative;
      //   top: calc((#{$item-height} - #{$item-checkbox-size}) / 2);
      //   left: calc((#{$item-checkbox-div-width} - #{$item-checkbox-size}) / 2);
      //   width: $item-checkbox-size;
      //   height: $item-checkbox-size;
      //   margin: 0;

      //   border: 1px solid $color-primary;
      //   background-color: $color-paper;
      //   cursor: pointer;
      // }

      // &[id="to-do-checkbox"]:checked + label {
      //   border: 1px solid $color-primary;
      //   background-color: $color-primary;
      //   cursor: pointer;
      //   color: $color-paper;
      // }
    }

    // checkbox and check mark style
    & span {
      display: inline-block;
      position: relative;
      top: calc((#{$item-height} - #{$item-checkbox-size}) / 2);
      left: calc((#{$item-checkbox-div-width} - #{$item-checkbox-size}) / 2);
      width: $item-checkbox-size;
      height: $item-checkbox-size;
      margin: 0;

      border: 1px solid $color-primary;
      background-color: $color-paper;
      cursor: pointer;
    }

    & input:checked ~ span {
      border: 1px solid $color-primary;
      background-color: $color-primary;
      cursor: pointer;
      color: $color-paper;
    }

    & span:after {
      content: "";
      position: absolute;
      display: none;

      left: calc((#{$item-checkbox-div-width} - #{$item-checkbox-size}) / 4 + 1px);
      width: $item-checkmark-width;
      height: $item-checkmark-height;
      border: solid white;
      border-width: 0 $item-checkmark-border $item-checkmark-border 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    & input:checked ~ span:after {
      display: block;
    }
    
  }

  & .common-to-do-item-desc {
    display: inline-block;
    width: calc(100% - #{$button-width} - #{$item-checkbox-size});
    height: 100%;

    span {
      position: relative;
      top: calc((#{$item-height} - #{$item-checkbox-size}) / 2 - 2px);
      padding: {
        left: 5px;
      }
      font: {
        size: $todo-item-size;
      }
    }
  }

  &.done {
    .common-to-do-item-desc {
      text-decoration: line-through;
    }
  }
}
