@import "../../../scss/_variables.scss";

.common-to-do-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $item-height;

  & .common-to-do-item-checkbox {
    width: $item-checkbox-div-width;
    height: $item-height;
  }

  input {
    position: relative;
    top: calc((#{$item-height} - #{$item-checkbox-size}) / 2);
    left: calc((#{$item-checkbox-div-width} - #{$item-checkbox-size}) / 2);
    display: inline-block;
    width: $item-checkbox-size;
    height: $item-checkbox-size;
    margin: 0;
    background-color: #e3af70;
  }

  & .common-to-do-item-desc {
    display: inline-block;
    width: calc(100% - #{$button-width} - #{$item-checkbox-size});
    height: 100%;

    span {
      position: relative;
      top: calc((#{$item-height} - #{$item-checkbox-size}) / 2);
      padding: {
        left: 5px;
      }
      font: {
        size: $todo-item-size;
      }
    }
  }
}
