@import "../../../scss/_variables.scss";

.common-to-do-input {
  height: 30px;

  input {
    width: calc(100% - #{$button-width} - 5px);
    height: 100%;
    border: 0;
    padding: {
      left: 5px;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &:focus {
      outline: none;
    }
  }
}
