@import "../../../scss/_variables.scss";

.common-to-do-input {
  display: flex;
  height: $item-height;
  margin: {
    bottom: 15px;
  }

  input {
    display: block;
    width: calc(100% - #{$button-width} - 5px);
    height: 100%;
    border: 0;
    padding: {
      left: 5px;
      right: 0;
      top: 0;
      bottom: 0;
    }
    font: {
      size: $todo-input-size;
    }

    &:focus {
      outline: none;
    }
  }
}
