@import "../../../../scss/_variables.scss";
@import "../../../../scss/_animations.scss";

.common-util-loading-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $item-height;
  padding: {
    top: 2.5px;
    bottom: 2.5px;
  }
  cursor: progress;

  & .common-util-loading-item-checkbox {
    width: $item-checkbox-div-width;
    height: $item-height;

    // checkbox styles
    input {
      display: none;
    }

    // checkbox and check mark style
    & span {
      display: inline-block;
      position: relative;
      top: calc((#{$item-height} - #{$item-checkbox-size}) / 2);
      left: calc((#{$item-checkbox-div-width} - #{$item-checkbox-size}) / 2);
      width: $item-checkbox-size;
      height: $item-checkbox-size;
      margin: 0;

      // glowing effect
      border: 1px solid $color-box-shadow;
      background-color: $color-box-shadow;
      animation: glow 1.5s ease-in-out infinite;
      color: transparent;
      cursor: progress;
    }

    & input:checked ~ span:after {
      display: block;
    }
    
  }

  & .common-util-loading-item-desc {
    display: inline-block;
    width: calc(100% - #{$item-checkbox-size});
    height: 100%;

    span {
      position: relative;
      top: calc((#{$item-height} - #{$item-checkbox-size}) / 2 - 2px);
      padding: {
        left: 5px;
      }
      font: {
        size: $todo-item-size;
      }

      // glowing effect
      background-color: $color-box-shadow;
      animation: glow 1.5s ease-in-out infinite;
      color: transparent;
    }
  }
}
