@import "./scss/variables";

* {
  font: {
    family: 'Roboto', sans-serif;
    weight: 100;
  }
  color: $color-font;
}
  
input::-webkit-input-placeholder { font-weight: 100; color: $color-placeholder }
input::-moz-placeholder { font-weight: 100; color: $color-placeholder }
input:-ms-input-placeholder { font-weight: 100; color: $color-placeholder }
input:-moz-placeholder { font-weight: 100; color: $color-placeholder }
input::placeholder { font-weight: 100; color: $color-placeholder }

body {
  margin: {
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
